/* ____________HEADER__________ */

/* ____________FOOTER__________ */

.client_pain {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  padding: 1%;
  margin-top: 30px;
}

.nomber1,
.nomber2,
.nomber3,
.nomber4 {
  color: #a4af97;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50vw;
  padding: 1%;
}

.img_client_pain {
  width: 8%;
  margin-right: 10px;
}

/* ____________REGISTRATION FORM__________ */

.registration-form {
  margin: 0 auto;
  padding: 1%;
  width: 70%;
  background-color: #f7f9f2;
}

.registration-form-header-container {
  width: fit-content;
  margin: 0 auto;
}
.registration-form-header {
  color: #406c35;
}

.registration-form-button-container {
  display: flex;
  justify-content: center;
}
.myButton {
  background-color: hsl(108, 19%, 63%);
  color: white;
}
a:hover {
  text-decoration: none !important;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);

.header h2 {
  vertical-align: center;
  text-align: center;
}

.header img {
  margin-left: 30px;
  max-width: 50px;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: #00BAF0; */
  background: linear-gradient(to left, #ffe6a3, #406c35);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 80px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu-button-container {
  display: flex;
}
.menu {
  position: absolute;
  top: 0;
  margin-top: 50px;
  right: 0;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#menu-toggle ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .menu li {
  border: 0.1px solid white;
  height: 2.5em;
  padding: 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu > li {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  color: #406c35;
  background-color: #ffe6a3;
}
.menu > li:not(:last-child) {
  border-bottom: 1px solid #ffe6a3;
}
.menu > li:hover {
  cursor: pointer;
}

/* ____________PART OF PAIN__________ */
.ball {
  width: 50vw;
  list-style: none;
  margin: 0 auto;
  margin-top: 50px;
}
.ball a {
  width: 100%;
  color: #808285;
  text-decoration: none;
  display: inline-block;
  padding-left: 25px;
  height: 44px;
  line-height: 44px;
  font-size: 20px;
  position: relative;
  transition: 0.3s linear;
}
.ball a:before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #a4af97;
  position: absolute;
  left: -30px;
  top: 7px;
}
.ball li {
  position: relative;
}
.ball li:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f23942;
  position: absolute;
  top: 12px;
  left: -30px;
  z-index: 2;
  transition: 0.4s ease-in-out;
}
.ball li:hover:before {
  left: -20px;
}
.ball a:hover {
  color: #a4af97;
  cursor: default;
}

/* ____________FOOTER__________ */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to left, #406c35, #ffe6a3);
}

.footer_info {
  display: flex;
  justify-content: space-around;
  padding: 1.2%;
}
footer a {
  color: white;
}
footer a:hover {
  text-decoration: none;
  color: rgba(243, 243, 243, 0.697);
}
footer img {
  max-width: 35px;
  opacity: 0.7;
  padding-left: 5px;
}
