/* ____________HEADER__________ */



/* ____________FOOTER__________ */



/* ____________REGISTRATION FORM__________ */

.registration-form {
    padding: 1%;
    width: 70%;
    background-color: #f7f9f2;
}

.registration-form-header-container {
    width: fit-content;
    margin: 0 auto;
}
.registration-form-header {
    color: #406c35;
}

.registration-form-button-container {
    display: flex;
    justify-content: center;
}
.myButton {
    background-color:hsl(108, 19%, 63%) ;
    color: white;
}